<!-- Modal Eliminar Habilidades-->
<form [formGroup]="eliminarHabilidades" (ngSubmit)="onEnviar($event)"name="habilidadesForm" class="bg-white rounded p-5 seccion">
    <div class="modal fade" id="eliminarHabilidades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Habilidades</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            
              
                
                  
                  <form name="habilidadesForm">
                    <div class="modal-body">
                         <h4>Confirme eliminacion de habilidades</h4>
                    </div>
  
    
                  
    <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-Login">Eliminar</button>
              
               </div>
              </form>
            </div>
          </div>
        </div>
