<!-- Modal Eliminar Educacion-->
<form [formGroup]="eliminarEducacion" (ngSubmit)="onEnviar($event)"name="educacionForm" class="bg-white rounded p-5 seccion">
    <div class="modal fade" id="eliminarEducacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Educacion</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            
              
                
                  
                  <form name="educacionForm">
                    <div class="modal-body">
                         <h4>Confirme eliminacion de educacion</h4>
                    </div>
  
    
                  
    <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-Login">Eliminar</button>
              
               </div>
              </form>
            </div>
          </div>
        </div>
