
<section class="proyectos">
<h4>Proyectos</h4><br>
<div class="row">
<div class="col-lg-1"></div>
<div class="col-lg-12">

<h3>Portfolio Web Argentina Programa</h3>
<br>
<br>
</div>

</div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#proyectosModal">
      <i class="fa fa-pen"></i>
      </button>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#proyectosModal"><i class="fa-solid 
        fa-trash-can"></i></button>
      
 </section>
