<section class="educacion">
   <h3>Educacion</h3>
   <div class="row" *ngFor="let educacion of educaciones">
      
   <div class="col-lg-1"></div>
    <div class="col-lg-11">
         <ul>
            <li><h4>{{educacion.lugar}}</h4><h5>{{educacion.inicio}} / {{educacion.fin}}</h5></li>
            <p>{{educacion.descripcion}}</p>
         </ul>
       
    </div>
  
    </div>
       <!-- Button trigger modal -->
  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#educacionModal">
  <i class="fa fa-pen"></i></button>
     <!-- Button trigger modal cerrar-->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#educacionModal"><i class="fa-solid 
      fa-trash-can"></i></button>
  
  </section>
  


