<section class="experiencia">
  <h3>Experiencia </h3>
  <div class="row" *ngFor="let experiencia of experiencias">
  
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
       <ul>
          <li><h4>{{experiencia.lugar}}</h4><h5>{{experiencia.inicio}} / {{experiencia.fin}}</h5></li>
          <p>{{experiencia.puesto}}</p>
       </ul>
     
  </div>
</div>
 <!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#experienciaModal"routerLink="editarExperiencia">
  <i class="fa fa-pen"></i>
  </button>
  <!-- Button trigger modal cerrar-->
  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#experienciaModal"><i class="fa-solid 
    fa-trash-can"></i></button>

</section>

  
  
