section.contacto{
    background-color: #fff0;
    border: 3px solid #696969;
    border-radius: 1em;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    background: #bdbebe;
}
.footer{
    margin-top: 20px;
    text-align: center;
}