
<!-- Modal Crear Hobbies-->
<form [formGroup]="crearHobbies" (ngSubmit)="onEnviar($event)"name="hobbiesForm" class="bg-white rounded p-5 seccion">
    <div class="modal fade" id="crearHobbies" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Hobbies</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            
              
                
                  
                  <form name="hobbiesForm">
                    <div class="modal-body">
                    
                      <!--formulario de hobbies-->
                   
                      <div class="mb-3">
                      <label for="url"class="form-label">Agregar url</label>
                      <textarea class="form-control"  formControlName="url" [(ngModel)]="hobbie.url"></textarea>
                      
                      </div>
  
                            <div>
                            </div> 
  
    <!-- Button trigger modal -->
     <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#crearHobbies">
    <i class="fa fa-pen"></i>
    </button>
    
     <!-- Button trigger modal cerrar-->
     <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#hobbiesModal"><i class="fa-solid 
      fa-trash-can"></i></button>
  
               
                  
                  
    <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-Login">Guardar</button>
              
               </div>
              </form>
            </div>
          </div>
        </div>