<section class="hobbies">

    <h4>Hobbies</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#hobbiesModal"routerLink="editarHobbies">
      <i class="fa fa-pen"></i>
      </button>
       <!-- Button trigger modal cerrar-->
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#hobbiesModal"><i class="fa-solid 
        fa-trash-can"></i>
      </button>
    <iframe class= "video" width="560" height="315" src="https://www.youtube.com/embed/etc9lxmCW5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    </section>

