<!-- Modal Editar Habilidades-->
<form [formGroup]="habilidades" (ngSubmit)="onEnviar($event)"name="habilidadesForm" class="bg-white rounded p-5 seccion">
  <div class="modal fade" id="editarHabilidades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Habilidades</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"(click)="limpiar()"></button>
          </div>
          
          
            
              
                
                <form name="habilidadesForm">
                  <div class="modal-body">
                  
                    <!--formulario de habilidad-->
                 
                    <div class="mb-3">
                    <label for="especialidad"class="form-label">Editar Especialidad</label>
                    <textarea class="form-control"  formControlName="especialidad" [ngModel]="habilidad.especialidad" rows="3" [ngClass]="{'is-invalid': Especialidad.errors && Especialidad.touched, 'is-valid': !Especialidad.errors && Especialidad.touched}"></textarea>
                    <div *ngIf="Especialidad.errors && Especialidad.touched">    
                      <p *ngIf="Especialidad.hasError('required')" class="text-danger">
                        La especialidad es requerida.
                      </p>></textarea>
                    
                    </div>

                    <div class="mb-3">
                      <label for="porcentaje"class="form-label">Editar Porcentaje</label>
                      <textarea class="form-control"  formControlName="porcentaje" [(ngModel)]="especialidad"></textarea> 
                      
                      </div>

                      <div class="mb-3">
                        <label for="color"class="form-label">Editar Color</label>
                        <textarea class="form-control"  formControlName="color" [ngModel]="habilidad.color" rows="3" [ngClass]="{'is-invalid': Color.errors && Color.touched, 'is-valid': !Color.errors && Color.touched}"></textarea>
                        <div *ngIf="Color.errors && Descripcion.touched">    
                          <p *ngIf="Color.hasError('required')" class="text-danger">
                            El color es requerido.
                          </p>></textarea>
                        
                        </div>

                       
        
                          <div>
                          </div> 

  <!-- Button trigger modal -->
   <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#habilidadesModal">
  <i class="fa fa-pen"></i>
  </button>
  
   <!-- Button trigger modal cerrar-->
   <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliminarHabilidades"><i class="fa-solid 
    fa-trash-can"></i></button>


    <button type="button" class="btn btn-close-white" data-bs-toggle="modal" data-bs-target="#crearHabilidades"><i class="fa-solid fa-plus"></i></button>
                 
                
                
  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"(click)="limpiar()">Limpiar</button>
            <button type="button" class="btn btn-Login">Guardar</button>
            <button type="button" class="btn btn-Delete">Borrar</button>
             </div>
            </form>
          </div>
        </div>
      </div>

      <!--ventanas modales-->
       

      <app-crear-habilidades></app-crear-habilidades>
      <app-eliminar-habilidades></app-eliminar-habilidades>